<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/movies/edit/<%= movie.id %>" method="post">
      <input type="text" name="movie" value="<%= movie.name %>" size="39"><br>

      <input type="text" name="released_year" value="<%= movie.released_year %>"><br>

      <select name="genre">
        <% let genre = ['action', 'comedy', 'drama', 'horor']
             genre.forEach(g => {
               if (movie.genre === g) {
        %>
          <option selected value="<%= g %>"> <%= g %></option>
        <% }else{ %>
          <option value="<%= g %>"> <%= g %></option>
        <% }})%>
      </select><br>

      <select name="prodHouseId">
        <% dataProdHouse.forEach(prodHouse => {
               if (prodHouse.id === movie.prodHouseId) {
        %>
          <option selected value="<%= prodHouse.id %>"> <%= prodHouse.name_prodHouse %></option>
        <% }else{ %>
          <option value="<%= prodHouse.id %>"> <%= prodHouse.name_prodHouse %></option>
        <% }})%>
      </select><br>

      <button type="submit">Save</button>
    </form>
  </body>
</html>
